@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta es una aplicación creada con fines didacticos, los creadores no se responsabilizan por el uso de la misma.</p>
