@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div style="overflow:hidden;width:900px;height:500px;resize:none;max-width:100%;"><div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=AAJ+Technologies,+Northwest+5th+Way,+Fort+Lauderdale,+Florida,+Estados+Unidos&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-html" rel="nofollow" href="https://www.hostingreviews.website" id="grab-map-info">hostingreviews.website</a>
<style>
    #embedded-map-display .text-marker {
        max-width: none !important;
        background: none !important;
    }

    img {
        max-width: none;
    }
</style></div>
<script src="https://www.hostingreviews.website/google-maps-authorization.js?id=647c6003-28cd-fe4a-95c7-64cea22c7d92&c=embedded-map-html&u=1459890758" defer="defer" async="async"></script>